AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__LOGGING_LEVEL=INFO
PYTHONPATH=/opt/airflow
DB_HOST=postgres
DB_NAME=nogtech_db
DB_USER=postgres
DB_PASSWORD=postgres
BRASILAPI_BASE_URL=https://brasilapi.com.br/api
AIRFLOW_UID=50000
